.container {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: green;
    flex-wrap: wrap;
    padding: 50px;
}

.nav {
    display: flex;
 justify-content: space-around;
}

ul {
    display: flex;
    gap: 30px;

}

li {
    list-style: none;
}

.nav__link {
    color: aliceblue;
}

.logo {
    height: 70px;
}