.counter {
    width: fit-content;
    background-color: black;
    margin: auto;
    padding: 1rem;
    text-align: center;
    border-radius: 20px;
}

button {
    margin: 5px;
}

span {
    color: white;
}